<form action="/receiveforms" method="post">
    <p>Title: </p>
    <input type="text" name="title">
    <p>Content: </p>
    <textarea name="content"></textarea>
    <p><button type="submit">Submit post</button></p>
</form>
